html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    color:lightslategray;
    font-size:45px;
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
    text-align: center;
}

h3 {
    font-size:30px;
    font-family: monospace;
}

canvas {
    display: block;
    z-index: -1;
}

table.table0 {
    position: absolute;
    z-index: 3;
    width: 100%;
    left: 50%;
    top: 7%;
    transform: translateX(-50%) translateY(-50%);
}

table.table0 td {
    width: 33vw;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;

    &:after,
    &:before {
        content: '';

        display: block;
        padding-bottom: calc(50% - 0.5em);
    }
}

table.table1 {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}

table.table1 td {
    width: 33vw;
    padding-top: 10px;
    text-align: center;


    &:after,
    &:before {
        content: '';

        display: block;
        padding-bottom: calc(50% - 0.5em);
    }
}

table.table2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}

table.table2 td {
    width: 33vw;
    padding-top: 10px;
    text-align: center;


    &:after,
    &:before {
        content: '';

        display: block;
        padding-bottom: calc(50% - 0.5em);
    }
}
